name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - "main"
      - "master"

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build (if present)
        run: npm run build --if-present

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.firebase-adminsdk-fbsvc@gnosia-f1586.iam.gserviceaccount.com }}
          projectId: gnosia-f1586
